<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
</head>
<body layout:fragment="accountsettings">
	<!--dropdown-->
	<div class="dropdown userinfo">
		<a class="dropdown-toggle" data-toggle="dropdown" data-target="#"
			href="#">Hi, administrator! <b class="caret"></b></a>
		<ul class="dropdown-menu">
			<li><a href="#"> <span class="icon-edit"></span>Edit Profile
			</a></li>
			<li><a href="#"> <span class="icon-wrench"></span>Account
					Settings
			</a></li>
			<li class="divider"></li>
			<li><a href="#"> <span class="icon-off"></span>Sign Out
			</a></li>
		</ul>
	</div>
	<!--dropdown-->
</body>
</html>