<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">后台管理系统</title>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css"
	href="/deploy/themes/default/live.css"
	th:href="@{/deploy/themes/default/live.css}" />
<script type="text/javascript"
	th:src="@{/deploy/sea-modules/seajs/seajs/2.1.1/sea.js}"></script>
<script th:inline="javascript">
	/*<![CDATA[*/
		seajs.config({
			base : [[${#ctx.httpServletRequest.contextPath}+'/deploy/sea-modules/']],  
			// debug: true,
			// 路径配置用来跨目录调用.
			paths : {
			// "jquery": "http://live/root/path",
			},
			// / 文件编码
			charset : 'utf-8',
			// 别名配置,注意别名的 VALUE 只能为sea-module define 的ID 如下 jquery,只能与sea-modules/ 下面的路径
			// define("jquery/jquery/1.10.1/jquery", [], function () { return jQuery; } );保持一致.
			alias : {
				// "seajs-debug": "seajs/seajs-debug/1.1.1/seajs-debug",
				"jquery" : "jquery/jquery/1.10.1/jquery", //=={jquery=paths.jquery}/jquery/1.10.1/jquery
				"jquery-debug" : "jquery/jquery/1.10.1/jquery-debug"
			}
		});
		/*]]>*/
	</script>
</head>
<body>
	<div class="mainwrapper" style="background-position: 0px 0px;">
		<div class="leftpanel">
			<div class="logopanel">
				<h1>
					<a href="dashboard.html">商户后台管理系统</a>
				</h1>
			</div>
			<div class="datewidget"
				th:text="${#dates.format(new java.util.Date(),'yyyy-MM-dd HH:mm:ss')}"></div>
			<div layout:fragment="leftmenu" class="left-menu-holder">left
				menu place holder</div>
		</div>
		<div class="rightpanel" style="margin-left: 260px;">
			<div class="headerpanel">
				<a href="" id="showmenu" class="showmenu clicked"></a>
				<div class="headerright">
					<div layout:include="accountmenu::accountsettings" th:remove="tag">account
						menu</div>
				</div>
			</div>
			<!--headerright-->
			<div layout:fragment="breadcrumb">breadcrumb placeholder</div>
			<div layout:fragment="subtitle" class="pagetitle">
				<h1>添加产品</h1>
				<span>添加新的产品数据</span>
			</div>
			<div class="maincontent">
				<div class="contentinner content-dashboard">
					<div class="row-fluid">
						<div layout:fragment="content">main content placeholder</div>
					</div>
				</div>
			</div>
		</div>
		<div layout:include="footer::footer"></div>
	</div>
	<script th:inline="javascript">
		seajs.use("jquery", function($) {
			$(function() {
				$("#showmenu").on("click", function(e) {
					var $leftCol= $(".leftpanel");
					var $rightCol=$(".rightpanel");
					if($leftCol.hasClass("hide")) {
						$rightCol.animate({"margin-left": "260px"});
						$leftCol.animate({"margin-left": "0"});
						$leftCol.removeClass("hide");
					} else {
						$rightCol.animate({"margin-left": "0"});
						$leftCol.animate({"margin-left": "-260px"});
						$leftCol.addClass("hide");
					}
					e.preventDefault();
				});
			});
		});
	</script>
	<script layout:fragment="script"></script>
</body>
</html>