<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>添加新产品</title>
</head>
<body>
	<div layout:fragment="leftmenu">
		<div layout:include="leftmenu::leftmenu"
			th:with="menuType='merchant',menuItemName='merchant-create'"
			th:remove="tag"></div>
	</div>
	<div layout:fragment="breadcrumb">
		<div layout:include="breadcrumb::breadcrumb"
			th:with="navName='商户列表',groupName='产品管理',groupLink='merchant/index',showGroupItem='true'"
			th:remove="tag"></div>
	</div>
	<div layout:fragment="subtitle">
		<h1>添加产品</h1>
		<span>添加新的产品数据</span>
	</div>
	<div layout:fragment="content" th:remove="tag">
		<h4 class="widgettitle nomargin shadowed">新产品信息录入表</h4>
		<div class="widgetcontent bordered shadowed nopadding">
			<form class="stdform stdform2" enctype="multipart/form-data"
				method="post"
				action="http://192.168.12.40:8080/easyTake/productweb/add">
				<input type="hidden" value="111" name="merchantId" id="merchantId" />
				<input type="hidden" value="111" name="productId" id="productId" />
				<input type="hidden" value="" name="deletedpicids"
					id="deletedpicids" />

				<p style="border-top: 0;">
					<label>产品名称</label> <span class="field"> <input type="text"
						placeholder="请输入产品名称" name="productname" id="productname"
						class="input-xxlarge" />
					</span>
				</p>

				<p>
					<label>原价</label> <span class="field"> <input type="number"
						placeholder="请输入产品原价" name="oldprice" id="oldprice" />&nbsp;(RMB)
					</span>
				</p>
				<p>
					<label>促销价</label> <span class="field"> <input type="number"
						placeholder="请输入产品促销价" name="price" id="price" />&nbsp;(RMB)
					</span>
				</p>
				<p>
					<label>产品描述 </label> <span class="field"> <textarea
							cols="80" placeholder="请输入产品描述" rows="5" name="productdesc"
							id="productdesc" class="span5"></textarea>
					</span>
				</p>
				<p>
					<label>库存</label> <span class="field"> <input type="number"
						name="stock" id="stock" />
					</span>
				</p>
				<p>
					<label>是否发布</label> <span class="field"> <input
						type="checkbox" name="published" id="published" />
					</span>
				</p>
				 
				<p>
					<label>产品图片</label> <span class="field"> <a href="#"
						class="btn" id="add_new_picture"> <span class="icon-plus"></span>Add
					</a> <br /> <input type="file" name="file" id="picture1" /> <br />
					</span>
				</p>
				<p class="stdformbutton">
					<input type="submit" class="btn btn-primary" value="保存修改" />
				</p>
			</form>
		</div>
	</div>
	<script layout:fragment="script">
		seajs.use("jquery", function($) {
		    var pictureid = 2;
		    $(function() {
		        $("#add_new_picture").on("click", function(e) {
		            var $this = $(this);
		            var fileHtml = '<input type="file" name="file" id="{picture}" /><br />';
		            fileHtml = fileHtml.replace(/{picture}/g, "picture" + pictureid);
		            var $newFile = $(fileHtml);
		            $this.parent().append($newFile);
		            pictureid++;
		            return false;
		        });
		    });
		});
	</script>
</body>
</html>