<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<title>管理员登陆</title>
<link rel="stylesheet" type="text/css"
	href="/deploy/themes/default/live.css"
	th:href="@{/deploy/themes/default/live.css}" />
</head>
<body class="loginbody">
	<div class="loginwrapper">
		<div class="loginwrap zindex100 animate2 bounceInDown">
			<h1 class="logintitle">
				<span class="iconfa-lock"></span>Sign In <span class="subtitle">Hello!
					Sign in to get you started!</span>
			</h1>
			<div class="loginwrapperinner">
				<div th:if="${param.error}">Invalid username and password.</div>
				<div th:if="${param.logout}">You have been logged out.</div>
				<form id="loginform" th:action="@{/login}" method="post">
					<p class="animate4 bounceIn">
						<input type="text" id="username" name="username"
							value="administrator" placeholder="Username" />
					</p>
					<p class="animate5 bounceIn">
						<input type="password" id="password" name="password"
							placeholder="Password" value="administrator" />
					</p>
					<p class="animate6 bounceIn">
						<button class="btn btn-default btn-block">Submit</button>
					</p>
					<p class="animate7 fadeIn">
						<a href=""> <span class="icon-question-sign icon-white"></span>Forgot
							Password?
						</a>
					</p>
				</form>
			</div>
			<!--loginwrapperinner-->
		</div>
		<div class="loginshadow animate3 fadeInUp"></div>
	</div>
</body>
</html>