<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>添加新商户</title>
</head>
<body>
	<div layout:fragment="leftmenu">
		<div layout:include="leftmenu::leftmenu"
			th:with="menuType='admin',menuSection='merchant',menuItemName='admin-create'"
			th:remove="tag"></div>
	</div>
	<div layout:fragment="breadcrumb">
		<div layout:include="breadcrumb::breadcrumb"
			th:with="navName='添加商户',groupType='admin',groupName='商户管理',groupLink='admin/merchant/list',showGroupItem='true'"
			th:remove="tag"></div>
	</div>
	<div layout:fragment="subtitle">
		<h1>商户管理</h1>
		<span>添加新商户信息</span>
	</div>
	<div layout:fragment="content" th:remove="tag">
		<h4 class="widgettitle nomargin shadowed">添加商户信息</h4>
		<div class="widgetcontent bordered shadowed nopadding">
			<form class="stdform stdform2" enctype="multipart/form-data"
				method="post"
				action="http://192.168.12.40:8080/easyTake/productweb/add">
				<input type="hidden" value="111" name="merchantId" id="merchantId" />

				<p style="border-top: 0;">
					<label>商户名称</label> <span class="field"> <input type="text"
						placeholder="请输入商户名称" name="merchantName" id="merchantName"
						class="input-xxlarge" />
					</span>
				</p>

				<p>
					<label>联系地址</label> <span class="field"> <input type="text"
						placeholder="请输入联系地址" name="merchantAddress" id="merchantAddress"
						class="input-xxlarge" />
					</span>
				</p>
				<p>
					<label>Email</label> <span class="field"> <input
						type="email" placeholder="请输入Email" name="email" id="email"
						class="input-xxlarge" />
					</span>
				</p>
				<p>
					<label>商户ID </label> <span class="field"> <input type="text"
						placeholder="请输入申请商户返回的ID" name="merchantId" id="merchantId"
						class="input-xxlarge" />
					</span>
				</p>
				<p>
					<label>商户KEY</label> <span class="field"> <input type="text"
						placeholder="请输入申请商户返回的KEY" name="merchantKey" id="merchantKey"
						class="input-xxlarge" />
					</span>
				</p>
				<p>
					<label>是否发布</label> <span class="field"> <input
						type="checkbox" name="published" id="published" />
					</span>
				</p>

				<p class="stdformbutton">
					<input type="submit" class="btn btn-primary" value="确认添加" />
				</p>
			</form>
		</div>
	</div>
</body>
</html>